Options All -Indexes

RewriteEngine on
#RewriteBase http://mycrm7.herokuapp.com/
RewriteRule ^index\.php -[L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]